body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 140%;
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
}

.bttn {
    font-size: 25px;
    padding: 16px;
    border: 2px solid #2e2e2e;
    transition-duration: 0.4s;
}

.texts {
    max-width: 38em;
    min-width: 15em;
    font-size: 110%;
    line-height: 150%;
    text-align: left;
    text-indent: 0;
    padding: 0 0.5em;
    display: inline-block;
}

.bttn:hover {
    color: white;
    background-color: #2e2e2e;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

#div_lex_intro, #div_lex_main, #div_end, .lg_en, .lg_de, .lg_nl, .lg_ch {
    display: none;
}

#lexstim {
    font-size: 160%;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    position: fixed;
    top: 41%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

.lexresp_left {
    left: 43%;
    background-color: #ff0000;
}

.lexresp_right {
    left: 57%;
    background-color: #00ff00;
}

.lexresp_buttons {
    font-size: 3.5vw;
    top: 65%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
    position: fixed;
    height: 8vw;
    width: 12vw;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        --active: #fe2525;
        --active-inner: #fff;
        --focus: 2px rgba(254, 37, 37, 0.3);
        --border: #fe2525;
        --border-hover: #f00;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;

        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }

        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                    background: #ffbdbd;
                }
            }
        }

        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }

        &:not(.switch) {
            width: 21px;

            &:after {
                opacity: var(--o, 0);
            }

            &:checked {
                --o: 1;
            }
        }

        &+label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }

    input[type='checkbox'] {
        &:not(.switch) {
            border-radius: 7px;

            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }

            &:checked {
                --r: 43deg;
            }
        }

        &.switch {
            width: 38px;
            border-radius: 11px;

            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }

            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }
        }
    }
}
